<%= render 'layouts/header' %>

<div class="text-center">
<h1>Eco Share</h1>
<p>みんなのEcoをシェアしよう！<br>
For our erth, for our people, for our future.</br>
小さなことでもシェアしよう</br>
私たちのために。</p>
</div>

<%= render 'layouts/footer' %>